{% extends 'layout.html' %}

{% block content %}

    <h1>About Us</h1>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non porro, 
        nobis minus excepturi sunt impedit eum fuga libero dolore commodi 
        autem eligendi architecto quae adipisci et corporis repellat 
        provident voluptatum. Beatae temporibus repellendus sequi 
        recusandae sunt fugiat! Esse, mollitia animi commodi architecto 
        quod eum quidem. Fugit facere excepturi obcaecati voluptatibus?</p>

{% endblock content %}
